<template>
  <v-main>
    <v-container>
      <h1>Mentions légales</h1>
      <Mention />
      <Contact />
    </v-container>
  </v-main>
</template>

<script>
import Mention from "@/views/Mention";
import Contact from "@/views/Contact";

export default {
  name: "About",
  data() {
    return {};
  },
  components: {
    Mention,
    Contact,
  }
};
</script>
