<template>
  <v-main>
    <v-container>
      <v-row justify="center">
        <h1>Page d'administration</h1>
      </v-row>
      <CreateUser @updateUserList="updateUsers" />
      <v-row justify="center" v-for="user in users" :key="user.id">
        <v-spacer />
        <v-col cols="1">{{ userData.find(u => u.userId === user.id).prenom }} {{ userData.find(u => u.userId === user.id).nom }}</v-col>
        <v-col cols="1">
          <v-btn @click="selectUser(user)" small fab dark color="primary accent--text">
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="1">
          <v-btn
            @click.prevent="sendMessageToUserDialog(user)"
            small
            fab
            dark
            color="primary accent--text"
          >
            <v-icon>mdi-email</v-icon>
          </v-btn>
        </v-col>
        <v-spacer />
      </v-row>
    </v-container>
    <v-dialog v-model="messageDialog" max-width="600">
      <v-card>
        <v-card-title>Envoyer un message</v-card-title>
        <v-text-field class="ma-3" label="Objet" v-model="object" />
        <v-textarea class="ma-3" label="Votre message" v-model="message"></v-textarea>
        <v-card-actions>
          <v-spacer />
          <v-btn color="warning" @click="messageDialog = false">Annuler</v-btn>
          <v-btn color="success" @click="sendMessage">Envoyer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import CreateUser from "@/views/CreateUser";

export default {
  name: "Admin",
  data() {
    return {
      users: [],
      messageDialog: false,
      object: null,
      message: null,
      userToSendMessageTo: null
    };
  },
  components: {
    CreateUser
  },
  async created() {
    const getUser = await this.axios.get(
      "http://localhost:3000/users/" + this.$store.getters.user.id
    );
    const user = getUser.data;

    const userDataRequest = await this.axios.get(
      "http://localhost:3000/userData"
    );
    this.userData = userDataRequest.data;

    if (!user.admin) this.$router.push({ name: "Home" });

    this.updateUsers();
  },
  methods: {
    selectUser(user) {
      this.$router.push({ name: "ManageUser", params: { userId: user.id } });
    },
    async updateUsers() {
      const getUsers = await this.axios.get(
        "http://localhost:3000/users?admin=false"
      );
      this.users = getUsers.data;
    },
    sendMessageToUserDialog(user) {
      this.userToSendMessageTo = user;
      this.messageDialog = true;
    },
    async sendMessage() {
      const postMessage = await this.axios.post(
        "http://localhost:3000/messages",
        {
          userRecipient: this.userToSendMessageTo.id,
          object: this.object,
          message: this.message,
          read: false
        }
      );
      this.userToSendMessageTo = null;
      this.messageDialog = null;
      this.message = null;
    }
  }
};
</script>

<style>
</style>