<template>
  <v-main>
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary accent--text" v-bind="attrs" v-on="on">Assistance</v-btn>
    </template>
    <v-card>
      <v-card-title color="primary accent--text">Assistance en ligne</v-card-title> <v-icon>mdi-account</v-icon>
      <v-container>
        <v-row class="mx-2">
          <v-autocomplete
            :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
            label="Choisissez un sujet"
            multiple
          ></v-autocomplete>
          <v-col cols="6">
            <v-textarea height="20" value="Taper un message"></v-textarea>
          </v-col>
          <v-col cols="6">
            <v-row align="center" class="mr-0">
              <v-avatar size="40px" class="mx-3">
                <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" alt />
              </v-avatar>
              <v-text-field placeholder="Nom"></v-text-field>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="dialog = false">Envoyer</v-btn>
      </v-card-actions>
    </v-card>
  </v-main>
</template>
