<template>
  <v-main>
    <h1>Pour nous contacter</h1>
    <v-dialog v-model="dialog" width="50rem">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary accent--text" v-bind="attrs" v-on="on">Contact</v-btn>
      </template>
      <v-card>
        <v-toolbar color="primary accent--text" flat>
          <v-toolbar-title>Contactez nous</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              :rules="rule"
              id="name"
              label="Nom"
              name="name"
              v-model="name"
              prepend-icon="mdi-account"
              type="text"
            ></v-text-field>
            <v-text-field
              :rules="rule"
              id="email"
              label="Email"
              name="email"
              v-model="email"
              prepend-icon="mdi-mail"
              type="text"
            ></v-text-field>
            <v-textarea
              :rules="rule"
              id="messsage"
              label="Messsage"
              name="messsage"
              v-model="messsage"
            ></v-textarea>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="contact" color="primary accent--text">Envoyer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
export default {
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    async contact() {
      this.dialog = false;
    }
  }
};
</script>
