<template>
  <v-main>
    <v-dialog v-model="dialog" width="50rem">
      <template v-slot:activator="{ on, attrs }">
        <v-row justify="center">
          <v-btn color="primary accent--text" v-bind="attrs" v-on="on">Créer un utilisateur</v-btn>
        </v-row>
      </template>
      <v-card>
        <v-toolbar color="primary accent--text" flat>
          <v-toolbar-title>Créer un utilisateur</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              :rules="rule"
              id="username"
              label="Username"
              name="username"
              v-model="username"
              prepend-icon="mdi-account"
              type="text"
              @keyup.enter="create"
            ></v-text-field>
            <v-text-field
              :rules="rule"
              id="password"
              label="Password"
              name="password"
              v-model="password"
              prepend-icon="mdi-lock"
              type="text"
              @keyup.enter="create"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="create" color="primary accent--text">Créer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      username: null,
      password: null,
      valid: true,
      rule: [v => !!v || "Champ requis"]
    };
  },
  methods: {
    async create() {
      if (this.$refs.form.validate()) {
        const user = await this.axios.post("http://localhost:3000/users", {
          username: this.username,
          password: this.password,
          admin: false
        });
        await this.axios.post("http://localhost:3000/userData", {
          userId: user.data.id
        });
        this.dialog = false;
        this.$emit("updateUserList");
      }
    }
  }
};
</script>
