<template>
  <v-main>
    <v-carousel cycle hide-delimiter-background show-arrows-on-hover fluid max-width="50rem">
      <v-carousel-item v-for="(slide, i) in slides" :key="i">
        <v-img :src="slide"></v-img>
      </v-carousel-item>
    </v-carousel>
    <v-row>
      <v-col cols="0" sm="1" md="2" lg="3" xl="4"></v-col>
      <v-col cols="12" sm="10" md="8" lg="6" xl="4">
        <h1>Bienvenue sur "Fabien En Forme" !</h1>
        <h2>L'outil de gestion de votre évolution physique.</h2>
        <p>Ici vous pouvez communiquer directement avec votre coach, laisser vos impressions ainsi que des indicateurs sur votre forme du moment.</p>
      </v-col>
      <v-col cols="0" sm="1" md="2" lg="3" xl="4"></v-col>
    </v-row>
  </v-main>
</template>

<script>
export default {
  name: "Home",
  data: () => ({
    slides: [
      "https://www.dr-muscu.fr/wp-content/uploads/2020/03/trouver-un-coach-sportif.jpg",
      "https://www.oxygenmag.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTYxMTU5Nzc3NjAxMjAxNjY2/shutterstock_793136707.jpg",
      "https://davfzwy2it6ms.cloudfront.net/files/frontend/cropped/fitness-coach.jpg",
      "https://intpass-eu-central-1-live02-public.s3.eu-central-1.amazonaws.com/de-live/venueHome_1024x576_fitnesscompressed_1552640395840740_admin.jpg"
    ]
  })
};
</script>
