<template>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar color="primary accent--text" flat>
              <v-toolbar-title>Connexion</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form ref="form" v-model="valid">
                <v-text-field
                  :rules="rule"
                  id="username"
                  label="Username"
                  name="username"
                  v-model="username"
                  prepend-icon="mdi-account"
                  type="text"
                  @keyup.enter="login"
                  autofocus
                ></v-text-field>
                <v-text-field
                  :rules="rule"
                  id="password"
                  label="Password"
                  name="password"
                  v-model="password"
                  prepend-icon="mdi-lock"
                  type="password"
                  @keyup.enter="login"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-alert type="error" v-if="loginError">Authentification échouée</v-alert>
              <v-spacer></v-spacer>
              <v-btn @click="login" color="primary accent--text">Connexion</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "Login",
  data: () => ({
    username: null,
    password: null,
    valid: true,
    rule: [v => !!v || "Champ requis"],
    loginError: false
  }),
  methods: {
    async login() {
      this.loginError = false;
      if (this.$refs.form.validate()) {
        await this.$store.dispatch("login", {
          username: this.username,
          password: this.password
        });
        if (this.$store.getters.user.admin)
          this.$router.push({ name: "Admin" });
        else this.$router.push({ name: "User" });
      } else this.loginError = true;
    }
  }
};
</script>
