<template>
  <v-main>
    <v-container v-if="!loading">
      <v-row justify="center">Données de l'utilisateur {{ user.username }}</v-row>
      <v-row align="center">
        <v-col cols="6">
          <span>Humour de {{ user.username }} aujourd'hui :</span>
        </v-col>
        <v-col cols="6">
          <v-rating @input="updateMood" readonly large v-model="userData.mood" />
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col cols="6">
          <span>Sport de {{ user.username }} aujourd'hui :</span>
        </v-col>
        <v-col cols="6">
          <span>{{ userData.sportLabel }}</span>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col cols="6">
          <span>{{ user.username }} a mangé aujourd'hui :</span>
        </v-col>
        <v-col cols="6">
          <span>{{ userData.mealLabel }}</span>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col cols="6">
          <span>Aujourd'hui {{ user.username }} pèse :</span>
        </v-col>
        <v-col cols="6">
          <span>{{ userData.weightLabel }}</span>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col cols="6">
          <span>Aujourd'hui {{ user.username }} est d'humeur :</span>
        </v-col>
        <v-col cols="6">
          <span>{{ userData.moodLabel }}</span>
        </v-col>
      </v-row>
      <v-row align="start">
        <v-btn :to="{ name: 'Admin' }" color="primary">Retour aux utilisateurs</v-btn>
      </v-row>
    </v-container>
    <v-container v-else>
      <v-row justify="center">Chargement de l'utilisateur</v-row>
      <v-row justify="center">
        <v-icon x-large class="rotating">mdi-sync</v-icon>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "ManageUser",
  data() {
    return {
      user: null,
      userData: null,
      loading: true
    };
  },
  async created() {
    this.loading = true;

    const getUser = await this.axios.get(
      "http://localhost:3000/users/" + this.$route.params.userId
    );
    this.user = getUser.data;
    const getUserData = await this.axios.get(
      "http://localhost:3000/userData?userId=" + this.$route.params.userId
    );
    this.userData = getUserData.data[0];

    if (this.userData.weight) this.userData.weightLabel = this.userData.weight + " kg";
    else this.userData.weightLabel = "<Non Renseigné>";
    if (this.userData.sport)
      this.userData.sportLabel = (
        await this.axios.get(
          "http://localhost:3000/sports/" + this.userData.sport
        )
      ).data.label;
    else this.userData.sportLabel = "<Non Renseigné>";
    if (this.userData.meal)
      this.userData.mealLabel = (
        await this.axios.get(
          "http://localhost:3000/meals/" + this.userData.meal
        )
      ).data.label;
    else this.userData.mealLabel = "<Non Renseigné>";
    if (this.userData.mood)
      this.userData.moodLabel = (
        await this.axios.get(
          "http://localhost:3000/moods/" + this.userData.mood
        )
      ).data.label;
    else this.userData.moodLabel = "<Non Renseigné>";

    this.loading = false;
  }
};
</script>
<style scoped>
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.rotating {
  animation: rotating 1s linear infinite;
}
</style>