<template>
  <v-dialog v-model="dialog" width="50rem">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary accent--text" v-bind="attrs" v-on="on">Mentions légales</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Mentions légales</span>
      </v-card-title>
      <v-card-text>
        <h2>Informations légales</h2>
        <br />
        <h3>1. Présentation du site.</h3>
        <p>
          En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site memoarnaud l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
          Créateur et Propriétaire : Arnaud Chabardès - Médecin Généraliste
          Webmaster - Responsable publication : Arnaud Chabardès - chabarno [at] gmail.com
          Hébergeur : Google Sites - Google
          Crédits : les mentions légales ont étés générées et offertes par Subdelirium agence web Angoulême
        </p>
        <h3>2. Conditions générales d'utilisation du site et des services proposés.</h3>
        <p>
          L'utilisation du site memoarnaud implique l'acceptation pleine et entière des conditions générales d'utilisation ci-après décrites. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, les utilisateurs du site memoarnaud sont donc invités à les consulter de manière régulière.
          Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Arnaud Chabardès, qui s'efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l'intervention.
          Le site memoarnaud/est mis à jour régulièrement par Arnaud Chabardès. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s'imposent néanmoins à l'utilisateur qui est invité à s'y référer le plus souvent possible afin d'en prendre connaissance.
        </p>
        <h3>3. Description des services fournis.</h3>
        <p>
          Le site memoarnaud a pour objet de servir de base de données personnelle d'aide à la pratique de la médecine générale pour Arnaud Chabardès, et éventuellement pour les autres praticiens intéressés par ce type de contenu.
          Arnaud Chabardès s'efforce de fournir sur le site memoarnaud des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
          Tous les informations indiquées sur le site memoarnaud sont données à titre indicatif, et sont susceptibles d'évoluer. Par ailleurs, les renseignements figurant sur le site memoarnaud ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
        </p>
        <h3>4. Limitations contractuelles sur les données techniques.</h3>
        <p>
          Le site utilise la technologie JavaScript.
          Le site Internet ne pourra être tenu responsable de dommages matériels liés à l'utilisation du site. De plus, l'utilisateur du site s'engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour
        </p>
        <h3>5. Propriété intellectuelle et contrefaçons.</h3>
        <p>
          Arnaud Chabardès est propriétaire des droits de propriété intellectuelle ou détient les droits d'usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons et logiciels non issus d'une autre source.
          Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : Arnaud Chabardès.
          Toute exploitation non autorisée du site ou de l'un quelconque des éléments qu'il contient sera considérée comme constitutive d'une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
        </p>
        <h3>6. Limitations de responsabilité.</h3>
        <p>
          Arnaud Chabardès ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l'utilisateur, lors de l'accès au site https://sites.google.com/site/memoarnaud/, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l'apparition d'un bug ou d'une incompatibilité.
          Arnaud Chabardès ne pourra également être tenue responsable des dommages indirects (tels par exemple qu'une perte de marché ou perte d'une chance) consécutifs à l'utilisation du site memoarnaud.
          Des espaces interactifs (possibilité de poser des questions dans l'espace contact) sont à la disposition des utilisateurs. Arnaud Chabardès se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Arnaud Chabardès se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l'utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).
        </p>
        <h3>7. Gestion des données personnelles.</h3>
        <p>
          En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
          A l'occasion de l'utilisation du site memoarnaud, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site memoarnaud, le fournisseur d'accès de l'utilisateur, le fournisseur d'accès de l'utilisateur, le système d'exploitation de l'utilisateur, la ville de l'utilisateur, le langage de l'utilisateur.
          Ces données sont exploitées via Google Analytics et accessibles uniquement par Arnaud Chabardès.
          En tout état de cause Arnaud Chabardès ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site memoarnaud. Le site n'est donc pas déclaré à la CNIL.
        </p>
        <h3>8. Liens hypertextes et cookies.</h3>
        <p>
          Le site memoarnaud contient un certain nombre de liens hypertextes vers d'autres sites, mis en place avec l'autorisation de Arnaud CHABARDES. Cependant, Arnaud CHABARDES n'a pas la possibilité de vérifier le contenu des sites ainsi visités, et n'assumera en conséquence aucune responsabilité de ce fait.
          La navigation sur le site memoarnaud est susceptible de provoquer l'installation de cookie(s) sur l'ordinateur de l'utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l'identification de l'utilisateur, mais qui enregistre des informations relatives à la navigation d'un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.
          Le refus d'installation d'un cookie peut entraîner l'impossibilité d'accéder à certains services. L'utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l'installation des cookies :
          Sous Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.
          Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans l'onglet Options. Cliquer sur l'onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser les paramètres personnalisés pour l'historique. Enfin décochez-la pour désactiver les cookies.
          Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur Paramètres de contenu. Dans la section "Cookies", vous pouvez bloquer les cookies.
          Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur préférences. Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.
        </p>
        <h3>9. Droit applicable et attribution de juridiction.</h3>
        <p>Tout litige en relation avec l'utilisation du site memoarnaud est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
        <h3>10. Les principales lois concernées.</h3>
        <p>
          Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.
          Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
        </p>
        <h3>11. Lexique.</h3>
        <p>
          Utilisateur : Internaute se connectant, utilisant le site susnommé.
          Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
        </p>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="dialog = false">Fermer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false
    };
  }
};
</script>
