<template>
  <v-main>
    <v-container v-if="userData">
      <v-row align="center">
        <h1>Bonjour {{userData.prenom}} !</h1>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="6">
              <span>Quel est votre nom ?</span>
            </v-col>
            <v-col cols="6">
              <v-text-field
                @input="updateNom"
                type="text"
                v-model="userData.nom"
                :rules="rules"
                label="Nom*"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="6">
              <span>Quel est votre prénom ?</span>
            </v-col>
            <v-col cols="6">
              <v-text-field
                @input="updatePrenom"
                type="text"
                v-model="userData.prenom"
                :rules="rules"
                label="Prénom*"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <span>Voir vos messages ici :</span>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="showMessages = true" icon v-on="on" color="primary">
                  <v-badge
                    v-if="messages.filter(m => m.userRecipient === userData.userId && m.read === false).length > 0"
                    dot
                    color="primary"
                  >
                    <v-icon>mdi-email</v-icon>
                  </v-badge>
                  <v-icon v-else>mdi-email</v-icon>
                </v-btn>
              </template>
              <span>Voir vos messages</span>
            </v-tooltip>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row align="center">
            <v-col cols="6">
              <span>Comment allez vous aujourd'hui ?</span>
            </v-col>
            <v-col cols="6">
              <v-rating @input="updateMood" large v-model="userData.mood" />
              <v-snackbar timeout="2000" v-model="snackbar">
                <span>{{ moodText }}</span>
                <v-spacer />
                <template v-slot:action="{ attrs }">
                  <v-btn color="primary" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
                </template>
              </v-snackbar>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="6">
              <span>Quel sport avez-vous fait aujourd'hui ?</span>
            </v-col>
            <v-col cols="6">
              <v-select
                @input="updateSport"
                :items="sports"
                item-text="label"
                item-value="id"
                v-model="userData.sport"
                return-object
                label="Sports*"
                required
              ></v-select>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="6">
              <span>Comment avez-vous mangé aujourd'hui ?</span>
            </v-col>
            <v-col cols="6">
              <v-select
                @input="updateMeal"
                :items="meals"
                item-text="label"
                item-value="id"
                v-model="userData.meal"
                return-object
                label="Repas*"
                required
              ></v-select>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="6">
              <span>Quel est votre poids aujourd'hui ?</span>
            </v-col>
            <v-col cols="6">
              <v-text-field
                @input="updateWeight"
                type="number"
                v-model="userData.weight"
                :rules="rules"
                label="Poids*"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="6">
              <span>Quelle est votre humeur aujourd'hui ?</span>
            </v-col>
            <v-col cols="6">
              <v-select :items="moods" item-text="label" return-object label="Humeur*" required></v-select>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="showMessages" max-width="600">
      <v-card>
        <v-card-title primary-title>
          <h3 class="headline mb-0">Vos messages</h3>
        </v-card-title>
        <v-tabs v-if="messages.filter(m => m.userRecipient === $store.getters.user.id).length > 0">
          <v-tab>Messages non lu</v-tab>
          <v-tab>Autres messages</v-tab>
          <v-tab-item>
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(message, i) in messages.filter(m => m.read === false && m.userRecipient === $store.getters.user.id)"
                :key="i"
              >
                <v-expansion-panel-header>{{ message.object }}</v-expansion-panel-header>
                <v-expansion-panel-content>
                  {{ message.message }}
                  <br />
                  <v-btn @click="markAsRead(message, true)">Marquer comme lu</v-btn>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-tab-item>
          <v-tab-item>
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(message, i) in messages.filter(m => m.read === true && m.userRecipient === $store.getters.user.id)"
                :key="i"
              >
                <v-expansion-panel-header>{{ message.object }}</v-expansion-panel-header>
                <v-expansion-panel-content>
                  {{ message.message }}
                  <br />
                  <v-btn @click="markAsRead(message, false)">Marquer comme non lu</v-btn>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-tab-item>
        </v-tabs>
        <p v-else class="ml-5">Aucun messages</p>
        <v-card-actions>
          <v-spacer />
          <v-btn text color="primary" @click="showMessages = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
export default {
  name: "User",
  data() {
    return {
      userData: null,
      rules: [v => !!v || "Champ obligatoire"],
      sports: null,
      moods: null,
      meals: null,
      weight: null,
      showMessages: false,
      messages: [],
      prenom: null,
      nom: null,
      moodText: null,
      snackbar: false
    };
  },
  async created() {
    const userDataRequest = await this.axios.get(
      "http://localhost:3000/userData?userId=" + this.$store.getters.user.id
    );
    this.userData = userDataRequest.data[0];

    const sportsData = await this.axios.get("http://localhost:3000/sports");
    this.sports = sportsData.data;

    const moodsData = await this.axios.get("http://localhost:3000/moods");
    this.moods = moodsData.data;

    const mealsData = await this.axios.get("http://localhost:3000/meals");
    this.meals = mealsData.data;

    const messagesData = await this.axios.get("http://localhost:3000/messages");
    this.messages = messagesData.data;
  },

  methods: {
    async updateMood(mood) {
      this.snackbar = true
      switch (mood) {
        case 1:
          this.moodText = "Tu peux faire mieux...";
          break;
        case 2:
          this.moodText = "C'est bien, encore plus...";
          break;
        case 3:
          this.moodText = "Bravo continue.";
          break;
        case 4:
          this.moodText = "Encore un peu plus !";
          break;
        case 5:
          this.moodText = "Bravo tu es le boss !";
          break;
      }
      const patchMood = await this.axios.patch(
        "http://localhost:3000/userData/" + this.userData.id,
        {
          mood: mood
        }
      );
    },
    async updateNom(nom) {
      const patchNom = await this.axios.patch(
        "http://localhost:3000/userData/" + this.userData.id,
        {
          nom: nom
        }
      );
    },
    async updatePrenom(prenom) {
      const patchPrenom = await this.axios.patch(
        "http://localhost:3000/userData/" + this.userData.id,
        {
          prenom: prenom
        }
      );
    },
    async updateSport(sport) {
      const patchSport = await this.axios.patch(
        "http://localhost:3000/userData/" + this.userData.id,
        {
          sport: sport.id
        }
      );
    },
    async updateMeal(meal) {
      const patchMeal = await this.axios.patch(
        "http://localhost:3000/userData/" + this.userData.id,
        {
          meal: meal.id
        }
      );
    },
    async updateWeight(weight) {
      const patchWeight = await this.axios.patch(
        "http://localhost:3000/userData/" + this.userData.id,
        {
          weight: weight
        }
      );
    },
    async markAsRead(message, bool) {
      const patchReadMessage = await this.axios.patch(
        "http://localhost:3000/messages/" + message.id,
        {
          read: bool
        }
      );
      message.read = bool;
    }
  }
};
</script>
