<template>
  <v-app color="accent">
    <v-app-bar app color="primary accent--text">
      <v-btn text x-large to="/" color="accent">Fabien En Forme</v-btn>
      <v-spacer></v-spacer>
      <v-btn outlined to="/about" color="accent secondary--text" class="mx-1">À propos</v-btn>
      <v-btn
        v-if="$store.getters.user && $store.getters.user.admin"
        outlined
        to="/admin"
        color="accent secondary--text"
        class="mx-1"
      >Tableau de bord</v-btn>
      <v-btn
        v-else-if="$store.getters.user"
        outlined
        to="/user"
        color="accent secondary--text"
        class="mx-1"
      >Gestion de compte</v-btn>
      <v-btn
        outlined
        to="/"
        color="accent secondary--text"
        class="mx-1"
        v-if="$store.getters.user"
        @click="logout"
      >Déconnexion</v-btn>
      <v-btn outlined to="/login" color="accent secondary--text" class="mx-1" v-else>Connexion</v-btn>
    </v-app-bar>
    <router-view v-if="!loading" />
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      loading: true
    };
  },
  async created() {
    if (localStorage.getItem("user-id") !== null) {
      await this.$store.dispatch("logFromLocalStorage");
    }
    this.loading = false;
  },
  methods: {
    async logout() {
      await this.$store.dispatch("logout");
      if (this.$route.name !== "Home") {
        this.$router.push({ name: "Home" });
      }
    }
  }
};
</script>
